In [1]:
import pandas as pd

# Data input

### Cayenne

In [2]:
c = pd.read_csv('cayenne.csv', skiprows=1, header = None)
c['variety'] = 'cayenne'
c.head(2)

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,variety
0,1,1,4,4,2,2,2,2,1,1,...,1.52,78,44.0,13,23.18,3.39,48.08,135.0,624.98,cayenne
1,1,1,4,4,2,2,2,2,1,1,...,1.36,74,45.0,9,25.05,3.08,48.10,164.0,432.90,cayenne

### Tabasco

In [3]:
t = pd.read_csv('tabasco.csv', skiprows=1, header = None)
t['variety'] = 'tabasco'
t.head(2)

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,variety
0,1,1,1,1,1,1,1,1,1,1,...,3.33,118,55.59,674,3.15,0.96,1.27,32.61,853.62,tabasco
1,1,1,1,1,1,1,2,2,1,1,...,1.54,117,58.00,788,3.09,0.85,1.07,32.61,844.42,tabasco

### Habanero

In [4]:
h = pd.read_csv('habanero.csv', skiprows=1, header = None)
h['variety'] = 'habanero'
h.head(2)

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,variety
0,2,2,2,2,1,1,1,1,1,1,...,1.02,36.4,69,0,3.69,2.59,8.25,51.64,0.0,habanero
1,3,3,2,2,1,1,1,1,1,1,...,1.58,53.5,56,14,3.67,2.52,6.55,35.00,91.7,habanero

In [5]:
df = pd.concat([c, t, h])
df.reset_index(drop=True, inplace=True)
df

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,variety
0,1,1,4,4,2,2,2,2,1,1,...,1.52,78.0,44.0,13,23.18,3.39,48.08,135.00,624.98,cayenne
1,1,1,4,4,2,2,2,2,1,1,...,1.36,74.0,45.0,9,25.05,3.08,48.10,164.00,432.90,cayenne
2,1,1,3,3,2,2,2,2,1,1,...,1.43,69.0,63.0,8,17.75,2.03,19.05,47.00,152.40,cayenne
3,1,1,4,4,2,2,2,2,1,1,...,1.53,68.0,44.0,12,21.50,3.04,46.58,156.00,558.90,cayenne
4,1,1,4,4,2,2,2,2,1,1,...,1.34,84.0,44.0,6,24.88,3.38,54.05,148.33,324.30,cayenne
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109,2,2,2,2,1,1,2,2,1,1,...,1.29,45.0,83.0,0,3.69,2.59,8.25,51.64,0.00,habanero
110,2,2,2,2,1,1,0,0,1,1,...,0.77,33.0,57.0,0,3.69,2.59,8.25,51.64,0.00,habanero
111,2,2,2,2,1,1,1,1,1,1,...,1.52,59.0,69.0,0,3.69,2.59,8.25,51.64,0.00,habanero
112,2,2,2,2,1,1,1,1,1,1,...,1.04,37.5,52.0,10,3.29,2.53,6.70,49.00,67.00,habanero
113,0,0,2,2,1,1,2,2,1,1,...,0.69,18.0,71.0,1,4.28,2.79,9.40,56.00,9.40,habanero

In [6]:
df.columns = ["Ng10.a", "Ng10.b", "Ng18.a", "Ng18.b","Ng8.a", "Ng8.b", "Bd12.a", "Bd12.b", "Ng20.a", "Ng20.b", "Ng6.a", "Ng6.b", "Ng7.a", "Ng7.b", "stem_width", "stem_height", "first_flower_day", "fruits_number", "fruit_length", "fruit_diameter", "fruit_weight","seeds_number", "yield", "variety"]

In [7]:
df

,Ng10.a,Ng10.b,Ng18.a,Ng18.b,Ng8.a,Ng8.b,Bd12.a,Bd12.b,Ng20.a,Ng20.b,...,stem_width,stem_height,first_flower_day,fruits_number,fruit_length,fruit_diameter,fruit_weight,seeds_number,yield,variety
0,1,1,4,4,2,2,2,2,1,1,...,1.52,78.0,44.0,13,23.18,3.39,48.08,135.00,624.98,cayenne
1,1,1,4,4,2,2,2,2,1,1,...,1.36,74.0,45.0,9,25.05,3.08,48.10,164.00,432.90,cayenne
2,1,1,3,3,2,2,2,2,1,1,...,1.43,69.0,63.0,8,17.75,2.03,19.05,47.00,152.40,cayenne
3,1,1,4,4,2,2,2,2,1,1,...,1.53,68.0,44.0,12,21.50,3.04,46.58,156.00,558.90,cayenne
4,1,1,4,4,2,2,2,2,1,1,...,1.34,84.0,44.0,6,24.88,3.38,54.05,148.33,324.30,cayenne
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109,2,2,2,2,1,1,2,2,1,1,...,1.29,45.0,83.0,0,3.69,2.59,8.25,51.64,0.00,habanero
110,2,2,2,2,1,1,0,0,1,1,...,0.77,33.0,57.0,0,3.69,2.59,8.25,51.64,0.00,habanero
111,2,2,2,2,1,1,1,1,1,1,...,1.52,59.0,69.0,0,3.69,2.59,8.25,51.64,0.00,habanero
112,2,2,2,2,1,1,1,1,1,1,...,1.04,37.5,52.0,10,3.29,2.53,6.70,49.00,67.00,habanero
113,0,0,2,2,1,1,2,2,1,1,...,0.69,18.0,71.0,1,4.28,2.79,9.40,56.00,9.40,habanero

In [8]:
df["individual"] = [f"ind_{i}" for i in range(1, len(df) + 1)]
df = df[["individual"] + [col for col in df.columns if col != "individual"]]

In [9]:
df.columns

Index(['individual', 'Ng10.a', 'Ng10.b', 'Ng18.a', 'Ng18.b', 'Ng8.a', 'Ng8.b',
       'Bd12.a', 'Bd12.b', 'Ng20.a', 'Ng20.b', 'Ng6.a', 'Ng6.b', 'Ng7.a',
       'Ng7.b', 'stem_width', 'stem_height', 'first_flower_day',
       'fruits_number', 'fruit_length', 'fruit_diameter', 'fruit_weight',
       'seeds_number', 'yield', 'variety'],
      dtype='object')

In [10]:
df

,individual,Ng10.a,Ng10.b,Ng18.a,Ng18.b,Ng8.a,Ng8.b,Bd12.a,Bd12.b,Ng20.a,...,stem_width,stem_height,first_flower_day,fruits_number,fruit_length,fruit_diameter,fruit_weight,seeds_number,yield,variety
0,ind_1,1,1,4,4,2,2,2,2,1,...,1.52,78.0,44.0,13,23.18,3.39,48.08,135.00,624.98,cayenne
1,ind_2,1,1,4,4,2,2,2,2,1,...,1.36,74.0,45.0,9,25.05,3.08,48.10,164.00,432.90,cayenne
2,ind_3,1,1,3,3,2,2,2,2,1,...,1.43,69.0,63.0,8,17.75,2.03,19.05,47.00,152.40,cayenne
3,ind_4,1,1,4,4,2,2,2,2,1,...,1.53,68.0,44.0,12,21.50,3.04,46.58,156.00,558.90,cayenne
4,ind_5,1,1,4,4,2,2,2,2,1,...,1.34,84.0,44.0,6,24.88,3.38,54.05,148.33,324.30,cayenne
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109,ind_110,2,2,2,2,1,1,2,2,1,...,1.29,45.0,83.0,0,3.69,2.59,8.25,51.64,0.00,habanero
110,ind_111,2,2,2,2,1,1,0,0,1,...,0.77,33.0,57.0,0,3.69,2.59,8.25,51.64,0.00,habanero
111,ind_112,2,2,2,2,1,1,1,1,1,...,1.52,59.0,69.0,0,3.69,2.59,8.25,51.64,0.00,habanero
112,ind_113,2,2,2,2,1,1,1,1,1,...,1.04,37.5,52.0,10,3.29,2.53,6.70,49.00,67.00,habanero
113,ind_114,0,0,2,2,1,1,2,2,1,...,0.69,18.0,71.0,1,4.28,2.79,9.40,56.00,9.40,habanero

In [11]:
df.to_csv('study.csv', index = None)