In [1]:
import numpy as np
import pandas as pd

# Data load

In [2]:
df = pd.read_csv('study.csv')
df.head()

,Ng10.a,Ng10.b,Ng18.a,Ng18.b,Ng8.a,Ng8.b,Bd12.a,Bd12.b,Ng20.a,Ng20.b,...,stem_width,stem_height,first_flower_day,fruits_number,fruit_length,fruit_diameter,fruit_weight,seeds_number,yield,variety
0,1,1,4,4,2,2,2,2,1,1,...,1.52,78.0,44.0,13,23.18,3.39,48.08,135.00,624.98,cayenne
1,1,1,4,4,2,2,2,2,1,1,...,1.36,74.0,45.0,9,25.05,3.08,48.10,164.00,432.90,cayenne
2,1,1,3,3,2,2,2,2,1,1,...,1.43,69.0,63.0,8,17.75,2.03,19.05,47.00,152.40,cayenne
3,1,1,4,4,2,2,2,2,1,1,...,1.53,68.0,44.0,12,21.50,3.04,46.58,156.00,558.90,cayenne
4,1,1,4,4,2,2,2,2,1,1,...,1.34,84.0,44.0,6,24.88,3.38,54.05,148.33,324.30,cayenne

# Data split by type

## Genotypes

In [6]:
gen = df.iloc[:, 0:14].astype(str)
gen.head()

,Ng10.a,Ng10.b,Ng18.a,Ng18.b,Ng8.a,Ng8.b,Bd12.a,Bd12.b,Ng20.a,Ng20.b,Ng6.a,Ng6.b,Ng7.a,Ng7.b
0,1,1,4,4,2,2,2,2,1,1,2,2,0,0
1,1,1,4,4,2,2,2,2,1,1,2,2,0,0
2,1,1,3,3,2,2,2,2,1,1,2,2,2,2
3,1,1,4,4,2,2,2,2,1,1,2,2,2,2
4,1,1,4,4,2,2,2,2,1,1,2,2,2,2

In [4]:
gen.dtypes

Ng10.a    object
Ng10.b    object
Ng18.a    object
Ng18.b    object
Ng8.a     object
Ng8.b     object
Bd12.a    object
Bd12.b    object
Ng20.a    object
Ng20.b    object
Ng6.a     object
Ng6.b     object
Ng7.a     object
Ng7.b     object
dtype: object

## Morphological traits

In [11]:
mor = df.iloc[:, 14:-1]
mor.head()

,stem_width,stem_height,first_flower_day,fruits_number,fruit_length,fruit_diameter,fruit_weight,seeds_number,yield
0,1.52,78.0,44.0,13,23.18,3.39,48.08,135.00,624.98
1,1.36,74.0,45.0,9,25.05,3.08,48.10,164.00,432.90
2,1.43,69.0,63.0,8,17.75,2.03,19.05,47.00,152.40
3,1.53,68.0,44.0,12,21.50,3.04,46.58,156.00,558.90
4,1.34,84.0,44.0,6,24.88,3.38,54.05,148.33,324.30

In [7]:
gen3 = gen.iloc[:3, :]
gen3.head()

,Ng10.a,Ng10.b,Ng18.a,Ng18.b,Ng8.a,Ng8.b,Bd12.a,Bd12.b,Ng20.a,Ng20.b,Ng6.a,Ng6.b,Ng7.a,Ng7.b
0,1,1,4,4,2,2,2,2,1,1,2,2,0,0
1,1,1,4,4,2,2,2,2,1,1,2,2,0,0
2,1,1,3,3,2,2,2,2,1,1,2,2,2,2

   Ng10_match  Ng18_match  Ng8_match  Bd12_match  Ng20_match  Ng6_match  \
0         1.0         1.0        1.0         1.0         1.0        1.0
1         1.0         0.0        1.0         1.0         1.0        1.0
2         NaN         NaN        NaN         NaN         NaN        NaN

   Ng7_match
0        1.0
1        0.0
2        NaN