In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./mice/Mice_Phenotipic.csv')
df

,SUBJECT.NAME,PROJECT.NAME,PHENOTYPE.NAME,Obesity.BMI,Obesity.BodyLength,Date.Month,Date.Year,Date.Season,Date.StudyStartSeconds,Date.Hour,Date.StudyDay,GENDER,EndNormalBW,CoatColour,CageDensity,Litter,cage
0,A048005080,HS_mouse,Obesity,-0.520132,8.2,5,2003,spring,9072000,0,106,F,25.3,black,5,2,19F
1,A048006063,HS_mouse,Obesity,-0.401116,8.2,3,2003,spring,5443200,0,64,M,31.6,dark.brown,5,4,13C
2,A048006555,HS_mouse,Obesity,-0.526935,8.1,4,2003,spring,6652800,0,78,M,28.2,silverado,4,1,15C
3,A048007096,HS_mouse,Obesity,-0.415274,7.6,3,2003,spring,3628800,0,43,M,27.1,chocolate,4,4,10B
4,A048010273,HS_mouse,Obesity,-0.546143,7.8,1,2003,winter,-518400,0,-5,F,20.9,chocolate,6,1,3E
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1809,A084291618,HS_mouse,Obesity,-0.397314,7.9,7,2004,summer,47174400,0,547,M,29.3,black,5,1,82D
1810,A084291628,HS_mouse,Obesity,-0.498030,8.8,5,2004,spring,41126400,0,477,M,27.3,dark.brown,5,2,72A
1811,A084291785,HS_mouse,Obesity,-0.363735,8.2,7,2004,summer,47174400,0,547,M,34.1,chocolate,5,1,82C
1812,A084291787,HS_mouse,Obesity,-0.398266,7.3,7,2004,summer,47779200,0,554,M,22.9,black,4,3,83A
1813,A084292044,HS_mouse,Obesity,-0.445751,8.6,5,2004,spring,41731200,0,484,M,31.7,albino,5,2,73C

In [11]:
mor = mor = df[['SUBJECT.NAME', 'Obesity.BodyLength']]
mor

     SUBJECT.NAME  Obesity.BodyLength
0      A048005080                 8.2
1      A048006063                 8.2
2      A048006555                 8.1
3      A048007096                 7.6
4      A048010273                 7.8
...           ...                 ...
1809   A084291618                 7.9
1810   A084291628                 8.8
1811   A084291785                 8.2
1812   A084291787                 7.3
1813   A084292044                 8.6

[1814 rows x 2 columns]

In [13]:
mor.to_csv('./mice/mice_traits.csv', index=None)